@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

* {
    font-family: 'Hachi Maru Pop', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(160deg, blue,green, red);;
}
.container{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px black;
    color: whitesmoke;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.096);
    border: 1px solid rgba(0, 0, 0, 0);
    flex-basis: 400px;
    height: 100px;
    padding: 20px 35px;
    width: 400px;
    position: relative;
    transition:  height .6s ease;
}
.search-bar {
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(245, 245, 245, 0.01);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: rgb(255, 255, 255);
    overflow: auto;
    width: 100%;
    height: 55px;
    align-items: center;
    position: relative;
    display: flex;
}
.search-bar i .map-icons{
    position: absolute;
    left: 15px;
    font-size: 28px;
}
.search-bar input{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 10px;
    font-size: 22px;
    color: beige;
    font-weight: 55;
    text-transform: uppercase;
    padding: 0 48px 0 42px;

}
.search-bar input::placeholder{
    color: aliceblue;
    text-transform: capitalize;

}
.search-bar button{
    position: absolute;
    right: 0;
    width: 40px;
    width: 40px;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 28px;
    color: beige;
    padding: 0 40px 0 5px;
    cursor: pointer;
}
.weather-box{
    text-align: center;
    margin: 40px 0;

}

.weather-box img{
    width: 60%;
}
.weather-box,
.weather-details,
.not-found{
    visibility: hidden;
    overflow: hidden;
}
.weather-box.active,
.weather-details.active,
.not-found.active{
    visibility: visible;
}

.weather-box .box,
.not-found .box{
    transform: translateY(-100%);
}
.weather-box.active .box,
.not-found.active .box{
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: .6s;
}
.weather-box .box .info-weather{
    transform: translateY(-120%);
}

.container.active .weather-box .box .info-weather,
.container.active .weather-details .humidity .info-humidity,
.container.active .weather-details .windy .info-wind{
    transform: translateY(0%);
    transition: transform 1s ease;

}
.weather-box .temperature{
    position: relative;
    font-size: 64px;
    line-height: 1;
    font-weight: 700;
    margin: 20px 0 6px -30px;
}
.weather-box .temperature span{
    position: absolute;
    font-size: 24px;
    margin-left: 4px;

}
.weather-box .description{
    font-size: 22px;
    font-weight: 500;
    text-transform: capitalize;

}
.weather-details{
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;

}
.weather-details .humidity,
.weather-details .windy{
    display: flex;
    align-items: center;
    width: 50%;
    transform: translateY(-100%);
    
}


.weather-details.active .humidity,
.weather-details.active .windy{
    transform: translateY(0%);
    transition: transform 1s ease;
    transition-delay: 1.2s;

}
.weather-details .humidity .info-humidity,
.weather-details .windy .info-wind{
    transform: translateY(-100%);
    overflow: hidden;
}
.weather-details .humidity{
    padding-left: 20px;
    justify-content: flex-start;
}
.weather-details .windy{
    padding-right: 20px;
    justify-content: flex-end;
}
.weather-details i{
    font-size: 56px;
    margin-right: 10px;
}
.weather-details span{
    display: inline-block;
    font-size: 22px;
    font-weight: 500;
}
.weather-details p{
    font-size: 14px;
    font-weight: 500;
}
.not-found{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 110px;

}
.not-found img{
    width: 80%;
}

.not-found p{
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
}
.city-name{
    display: none;
}

#clone-info-weather,
#clone-info-humidity,
#clone-info-wind{
    position: absolute;
    transform: translateY(-100%);

}

#clone-info-weather .weather {
    transform: translateY(120%);
    transition: transform 1s ease, opacity 0s;
    transition-delay: 0s, 2s;

}
.weather-box:not(.active) #clone-info-weather .weather {
    opacity: 0;
    transition-delay: 0s;

}

.active-clone#clone-info-weather .weather{
    transform : translateY(0%);

}

#clone-info-humidity span,
#clone-info-wind span{
    transform: translateY(100%);
    transition: transform 1s ease;
}

.active-clone#clone-info-humidity span,
.active-clone#clone-info-wind span {
    transform: translateY(0%);
}


